@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');

:root{
  --nav-color : #1455D9;
  --prpl : #7345FF;
  --bg: #262626;
  --light-blue: #0460D9;
  --bland-blue: #3752A6;
  --light-green: #23D9B7;

  --h-font-1 : 'Anton', sans-serif;
  --regular-font-1: 'EB Garamond', serif;
  --regular-font-2: 'Assistant', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  font-family: 10em;
  font-family: var(--h-font-1);
  text-transform: uppercase;
  color: var(--light-green);
}

h2{
  text-align: center;
  font-size: 1.4em;
  font-family: var(--h-font-1);
  text-transform: uppercase;
  color:var(--prpl);
}


.intro-text{
  width: 50%;
  opacity: 0;
  transform: translateY(20px);
  transition: 1.1s all ease-in-out;
  text-align: center;
  padding-top:3em;
  
  margin-left: 5em;
  font-family: var(--regular-font-2);
  font-size: 1.6em;
  text-transform: capitalize;
}


/*  new class that i need to add on top of intro-text trhough js  */

.intro-appear{
  opacity: 1;
  transform: translateY(0px);
  text-align:center;
}


.img{
  padding:2em;
  width: 100%;
  border-radius:110px;
 
}

.image-div{
 /* background-color: var(--prpl); */
  border-radius: 35px;
}


.grid{
  display:  grid;
  grid-template-columns: 1fr 1fr ;
 /* background-color:var(--light-green); */
  list-style: none;
}


@media screen and (max-width: 600px){
.grid{
  display: inline;

}
.image-div{
  border-radius: 0px;
}

.intro-text{
  width: 80%;
  opacity: 1;
  padding-left: 0em;
  text-align: center;
  margin: 2.5em;
}

.intro-appear{
  padding-left: 0em;
}

.intro{
  padding-left: 0em;
}

}
